<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="form-body">
        <ion-row>
          <ion-col><ion-input  formControlName="mobileNo" knifeOnlyNumbers  [(ngModel)]="user.mobileNumber" 
            type="text"  placeholder="Mobile No"></ion-input> </ion-col>
        </ion-row>
        <ion-row>
            <ion-col><ion-input formControlName="password" [(ngModel)]="user.password"  type="password"  placeholder="Password"></ion-input> </ion-col>
        </ion-row>
        <ion-button  expand="block" type="submit"  [disabled]="!loginForm.valid">login</ion-button> 
     <ion-row>
        <ion-col>
        Don’t have an account?<a routerLink="/signup" routerLinkActive="active">SignUp</a>
    </ion-col>
     </ion-row>
    </form>

</ion-content>
