<div class="overflow">
  <div id="imageToPrint">  
    <table style="width:100%;" class="fixed">
      <thead>
        <tr>

          <th style="text-align: left; width: 37%; margin-left: 2%;font-weight: normal;">
            <div style="margin-left: 3%;">Item</div>
          </th>
          <th style="width:4% ;font-weight: normal;">
            <div>Qty</div>
          </th>
          <th style="width:7% ;font-weight: normal;">
            <div>U.Price</div>
          </th>
          <th style="width:7% ;font-weight: normal;">
            <div>P.Price</div>
          </th> 
        </tr>
      </thead>
      <tr *ngFor="let stock of stockList">
        <td style="text-align: left;margin-left: 3%;">
          <div style="margin-left: 3%; " class="letter-space">
            {{stock.name}}
          </div>
        </td>
        <td>{{stock.quantity}}</td>
        <td>{{stock.unitPrice | number : '1.2-2'}}</td>
        <td >
          <div style="margin-right: 3%;">
            {{stock.purchasePrice | number : '1.2-2'}}
          </div>
          
        </td>

        
       
      </tr>
    </table>
  
  </div>
</div>
