<div class="overflow">
  <div id="imageToPrint">  
    <ion-list>
      <ion-list-header>
        
        <ion-label style="width:50% ;">Item</ion-label>
        <ion-label style="width: 20%;">Qty</ion-label>
        <ion-label style="width: 20%;">U.Price</ion-label>
        <ion-label style="width: 20%;">P.Price</ion-label>
        
      </ion-list-header>
      <ion-item *ngFor= "let inv of stockList" >
        <div style="width: 45%;word-wrap: normal;">
          {{inv.name}}
        </div>
        <div style="width: 20%;">
        <ion-label  style="width: 100%;" (click)="editInventory(inv)">{{inv.quantity}}</ion-label>
      </div>
        <div style="width: 20%;">
          <ion-label style="width: 100%;"  (click)="editInventory(inv)">{{inv.unitPrice}}</ion-label>
        </div>
        
        <ion-label  style="width: 20%;" (click)="editInventory(inv)">{{inv.purchasePrice}}</ion-label>
        
      </ion-item>
    </ion-list>    
    
  </div>
</div>
