
<ion-app >
  <ion-menu side="start" menuId="mainmenu" contentId="maincontent">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/dashboard">
            <ion-icon name="pie-chart" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/inventory">
          <ion-icon name="storefront" slot="start"></ion-icon>
          <ion-label>Inventory</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="purchase">
          <ion-icon name="bag" slot="start"></ion-icon>
          <ion-label>Purchase</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="client">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>Customer</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="supplier">
          <ion-icon name="man" slot="start"></ion-icon>
          <ion-label>Supplier</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="newinvoice">
          <ion-icon name="receipt" slot="start"></ion-icon>
          <ion-label>Invoice</ion-label>
        </ion-item>
      </ion-menu-toggle>
    <ion-menu-toggle>
        <ion-item routerLink="report">
          <ion-icon name="podium" slot="start"></ion-icon>
        <ion-label>Report</ion-label>
        </ion-item>
      </ion-menu-toggle>
     
      <ion-menu-toggle>
        <ion-item routerLink="expense">
          <ion-icon name="pizza" slot="start"></ion-icon>
        <ion-label>Expense</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="settings">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="maincontent"></ion-router-outlet>
  <!-- <ion-tabs id="tabs"  >
    <ion-tab-bar slot="bottom" *ngIf="showTabs">
      <ion-tab-button tab="inventory">
        <ion-icon name="bag"></ion-icon>
        <ion-label>Inventory</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="purchase">
        <ion-icon name="bag"></ion-icon>
        <ion-label>Purchase</ion-label>
      </ion-tab-button>

        
      <ion-tab-button tab="client">
        <ion-icon name="people"></ion-icon>
        <ion-label>Customer</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="newinvoice">
        <ion-icon name="receipt"></ion-icon>
        <ion-label>Invoice</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="report">
        <ion-icon name="podium"></ion-icon>
        <ion-label>Report</ion-label>
      </ion-tab-button>
      
    
    
      
      <ion-tab-button tab="settings" >
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>

      </ion-tab-button> 
  
    </ion-tab-bar>
  </ion-tabs> -->

</ion-app>
