<ion-header>
  <ion-toolbar>
    <ion-title>invoice</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-list>
      
      <ion-item *ngFor= "let inv of invoiceList">
        <ion-grid>
          <ion-row>
            <ion-col size="4">Invoice Number</ion-col>
            <ion-col size="4">Customer</ion-col>
            <ion-col size="3">Total</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">{{inv.invoiceNumber}}</ion-col>
            <ion-col size="4">{{inv.customer.name}}</ion-col>
            <ion-col size="3">{{inv.total}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>    
    
  </ion-content>
  <ion-footer>
    
      
        <ion-row style="float:right">
          <ion-col >
            <ion-button ion-button  color="primary" (click)="download()">
              <ion-icon name="arrow-down"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col >
            <ion-button ion-button  color="primary" (click)="addNewInvoice()">
              <ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
          
      
    
    
  </ion-footer>

