<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainmenu"> 

      </ion-menu-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" (click)="showExpense()"> </ion-back-button>
      
    </ion-buttons>
    <ion-title>{{expense.id!=null && expense.id!=undefined ? 'Edit'  : 'New'}} Expense</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-row>

<ion-col>

  <ion-item style="margin-top: 3%;">
    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="expense.date" placeholder="Date"></ion-datetime>
  </ion-item>
</ion-col>  
<ion-col>
  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-input [(ngModel)]="expense.category"></ion-input>
  </ion-item>

</ion-col>
  
</ion-row>
  
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" [(ngModel)]="expense.amount"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row style="float:right">
  <ion-col >
  <ion-button  color="primary" (click)="addNewExpense()">
    <ion-icon name="checkmark"></ion-icon>
   
    
  </ion-button>
</ion-col>
</ion-row>

</ion-content>
<ion-footer>

</ion-footer>