<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainmenu"> 

      </ion-menu-button>
    </ion-buttons> 
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home" (click)="showInventory()"> </ion-back-button>
      
    </ion-buttons>
    <ion-title>New Inventory</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item >
          <ion-label position="floating">Code</ion-label>
          <ion-input name="code" type="text" [(ngModel)]="inventory.code" required></ion-input>
        </ion-item>
        </ion-col>
      
    </ion-row>
<ion-row>
  <ion-col size="6">
    <ion-item >
      <ion-label position="floating">Name</ion-label>
      <ion-input name="name" type="text" [(ngModel)]="inventory.name" required></ion-input>
    </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item >
        <ion-label position="floating">اسم</ion-label>
        <ion-input name="nameinarabic" type="text" [(ngModel)]="inventory.nameInArabic" required></ion-input>
      </ion-item>
      </ion-col>
    
</ion-row>
<ion-row>
  <ion-col size="6">
    <ion-item >
      <ion-label position="floating">Description</ion-label>
      <ion-input name="location" type="text" [(ngModel)]="inventory.description" required></ion-input>
    </ion-item> 
   </ion-col>
   <ion-col size="6">
    <ion-item >
      <ion-label position="floating">Quantity</ion-label>
      <ion-input name="name" type="number" [(ngModel)]="inventory.quantity" required></ion-input>
    </ion-item>
    </ion-col>
</ion-row>
<ion-row>

   
    <ion-col size="6">
    <ion-item >
      <ion-label position="floating">Unit Price</ion-label>
      <ion-input name="location" type="number" [(ngModel)]="inventory.unitPrice" required></ion-input>
    </ion-item> 
   </ion-col>
   <ion-col size="6">
    <ion-item >
      <ion-label position="floating">Purchase Price</ion-label>
      <ion-input name="purchasePrice" type="number" [(ngModel)]="inventory.purchasePrice" required></ion-input>
    </ion-item> 
   </ion-col>

</ion-row>

</ion-grid>
<ion-row style="float:right">
  <ion-col >
  <ion-button  color="primary" (click)="addNewInventory()">
    <ion-icon name="checkmark"></ion-icon>
   
    
  </ion-button>
</ion-col>
</ion-row>

</ion-content>
<ion-footer>
  
    
    



</ion-footer>