<ion-header>
  <ion-toolbar>
    <ion-title>New Customer</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainmenu"> 

        </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card  >
    <ion-card-header (click)="expandItem('PERSONAL')">
      <ion-card-title>Personal Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="240px" [expanded]="personalDetails">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Customer Code</ion-label>
                  <ion-input name="name" type="text" [(ngModel)]="customer.code" required></ion-input>
                </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item >
                <ion-label position="floating">Name</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.name" required></ion-input>
              </ion-item>
              </ion-col>
              <ion-col size="6">
              <ion-item >
                <ion-label position="floating">اسم</ion-label>
                <ion-input name="namearabic" type="text" [(ngModel)]="customer.nameInArabic" required></ion-input>
              </ion-item> 
             </ion-col>
            
            
          </ion-row>
          
          <ion-row>
            <ion-col size="6">
              <ion-item >
                <ion-label position="floating">Contact Name</ion-label>
                <ion-input name="contactpersonname" type="text" [(ngModel)]="customer.contactPersonName" required></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item >
                <ion-label position="floating">اسم جهة الاتصال</ion-label>
                <ion-input name="contactpersonname" type="text" [(ngModel)]="customer.contactPersonNameInArabic" required></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          </ion-grid>
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <ion-card  >
    <ion-card-header (click)="expandItem('ADDRESS')">
      <ion-card-title>Address</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="440px" [expanded]="address">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Building No</ion-label>
                  <ion-input name="name" type="text" [(ngModel)]="customer.buildingNumber" required></ion-input>
                </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item >
                <ion-label position="floating">Street</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.street" required></ion-input>
              </ion-item>
              </ion-col>
              <ion-col size="6">
              <ion-item >
                <ion-label position="floating">شارع</ion-label>
                <ion-input name="namearabic" type="text" [(ngModel)]="customer.streetInArabic" required></ion-input>
              </ion-item> 
             </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item >
                <ion-label position="floating">City</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.city" required></ion-input>
              </ion-item>
              </ion-col>
              <ion-col size="6">
              <ion-item >
                <ion-label position="floating">مدينة</ion-label>
                <ion-input name="namearabic" type="text" [(ngModel)]="customer.cityInArabic" required></ion-input>
              </ion-item> 
             </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item >
                <ion-label position="floating">District</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.district" required></ion-input>
              </ion-item>
              </ion-col>
              <ion-col size="6">
              <ion-item >
                <ion-label position="floating">يصرف</ion-label>
                <ion-input name="namearabic" type="text" [(ngModel)]="customer.districtInArabic" required></ion-input>
              </ion-item> 
             </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item >
                <ion-label position="floating">Country</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.country" required></ion-input>
              </ion-item>
              </ion-col>
              <ion-col size="6">
              <ion-item >
                <ion-label position="floating">دولة</ion-label>
                <ion-input name="namearabic" type="text" [(ngModel)]="customer.countryInArabic" required></ion-input>
              </ion-item> 
             </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item >
                <ion-label position="floating">PO Box</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.pobox" required></ion-input>
              </ion-item>
              </ion-col>
              <ion-col size="6">
              <ion-item >
                <ion-label position="floating">Postal Code</ion-label>
                <ion-input name="namearabic" type="text" [(ngModel)]="customer.postalCode" required></ion-input>
              </ion-item> 
             </ion-col>
          </ion-row>
          
          </ion-grid>
      </app-expandable>
    </ion-card-content>
  </ion-card>

  <ion-card  >
    <ion-card-header (click)="expandItem('CONTACT')">
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="240px" [expanded]="contactDetails">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">Phone No</ion-label>
                  <ion-input name="name" type="text" [(ngModel)]="customer.phoneNumber" required></ion-input>
                </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Mobile</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.mobile" required></ion-input>
              </ion-item>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item >
                <ion-label position="floating">Email</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.email" required></ion-input>
              </ion-item>
              </ion-col>   
          </ion-row>
          
          </ion-grid>
      </app-expandable>
    </ion-card-content>
  </ion-card>


  <ion-card  >
    <ion-card-header (click)="expandItem('PAYMENT')">
      <ion-card-title>Payment</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-expandable expandHeight="240px" [expanded]="payment">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
                <ion-item>
                  <ion-label position="floating">VAT No</ion-label>
                  <ion-input name="name" type="text" [(ngModel)]="customer.vatNumber" required></ion-input>
                </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">CR No</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.crNumber" required></ion-input>
              </ion-item>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item >
                <ion-label position="floating">Credit Limit</ion-label>
                <ion-input name="name" type="text" [(ngModel)]="customer.creditLimit" required></ion-input>
              </ion-item>
              </ion-col>   
              <ion-col size="6">
                <ion-item >
                  <ion-label position="floating">Balance</ion-label>
                  <ion-input name="name" type="text" [(ngModel)]="customer.balance" required></ion-input>
                </ion-item>
                </ion-col>   
          </ion-row>
          
          </ion-grid>
      </app-expandable>
    </ion-card-content>
  </ion-card>


  
<ion-row style="float:right">
  <ion-col >
  <ion-button  color="primary" (click)="addNewClient()">
    <ion-icon name="checkmark"></ion-icon>
   
    
  </ion-button>
</ion-col>
</ion-row>

</ion-content>
<ion-footer>
  
    
    



</ion-footer>