<ion-header>
  <ion-toolbar>
    <ion-title>Invoice</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainmenu"> 

        </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    
    <ion-list>
      
      <ion-list-header>
        <ion-col size="4">Date</ion-col>
        <ion-col size="4" style="text-align: center;">Customer</ion-col>
        <ion-col style="text-align: right;padding-right: 5%;" size="4">Total</ion-col>
      </ion-list-header>  
      <ion-item *ngFor= "let inv of invoiceList">
            <ion-col size="4">{{inv.invoiceDate | date : short}}</ion-col>
            <ion-col size="4" style="text-align: center;">{{inv.customer.name}}</ion-col>
            <ion-col size="4" style="text-align: right;">{{inv.total}}</ion-col>
          
      
      </ion-item>
    </ion-list>    
    
  </ion-content>
  <ion-footer>
    
      
        <ion-row style="float:right">
          <ion-col >
            <ion-button ion-button  color="primary" (click)="download()">
              <ion-icon name="mail"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col >
            <ion-button ion-button  color="primary" (click)="addNewInvoice()">
              <ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
          
      
    
    
  </ion-footer>

