<ion-header>
  <ion-toolbar>
    <ion-title>Invoice</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainmenu"> 

        </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <h5 class="text-center page-heading">Invoices</h5>
    <ion-list>
      <ion-list-header class="list-header">
        <ion-col size="4">Date</ion-col>
        <ion-col size="4" class="text-center">Customer</ion-col>
        <ion-col  size="4" class="text-right">Total</ion-col>
        <!-- <ion-col size="2"></ion-col> -->
      </ion-list-header>  
      <ion-row *ngFor= "let inv of invoiceList" class="list-row">
            <ion-col size="4">{{inv.invoiceDate | date : 'dd/MM/yyyy' }}</ion-col>
            <ion-col size="4" class="text-center">{{inv.customer.name}}</ion-col>
            <ion-col size="4" class="text-right">{{inv.total}}</ion-col>
            <!-- <ion-col size="2" >
              <ion-icon  name="create-outline"  class="action-edit" (click)="editInvoice(inv)"></ion-icon>
          </ion-col> -->
      </ion-row>
    </ion-list>   
    <div class="line-separator"></div> 
    
  </ion-content>
  <ion-footer>
    
      
        <ion-row style="float:right">
          <ion-col >
            <ion-button ion-button  color="primary" (click)="download()">
              <ion-icon name="mail"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col >
            <ion-button ion-button  color="primary" (click)="addNewInvoice()">
              <ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
          
      
    
    
  </ion-footer>

