

<ion-header>
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainmenu"> 

        </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="background-color: darkblue;">
  <ion-list>
    <ion-list-header>
      
      <ion-label style="width:30%">Item</ion-label>
      <ion-label style="width: 20%;">Qty</ion-label>
      <ion-label style="width: 20%;">U.Price</ion-label>
      <ion-label style="width: 20%;">P.Price</ion-label>
      <ion-label style="width: 20%;">Delete</ion-label>
    </ion-list-header>
    <ion-item *ngFor= "let inv of inventories" >
      <div style="width: 30%;">
        <ion-label style="width: 100%;" class="ion-text-wrap" (click)="editInventory(inv)" >{{inv.name}}</ion-label>
      </div>
      
      <ion-label  style="width: 30%;" (click)="editInventory(inv)">{{inv.quantity}}</ion-label>
      <ion-label style="width: 30%;" (click)="editInventory(inv)">{{inv.unitPrice}}</ion-label>
      <ion-label  style="width: 30%;" (click)="editInventory(inv)">{{inv.purchasePrice}}</ion-label>
      <ion-button style="width: 10%;" (click)="presentDeleteAlertConfirm(inv)">
        <ion-icon name="trash-bin"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>    
  
</ion-content>
<ion-footer>
  
    
      <ion-row style="float:right">
        <ion-col >
        <ion-button color="primary" (click)="print()">
            <ion-icon name="print"></ion-icon>
          </ion-button>
        <ion-button  color="primary" (click)="addNewInventory()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
        
      </ion-col>
      </ion-row>
        
    
  
  
</ion-footer>