<ion-header >
  <ion-toolbar> 
    <ion-title >Address</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="addressForm" >

    
    <ion-row>
      <ion-col>
        
          <ion-item>
              <ion-label>State</ion-label>
             <ion-select formControlName="state" [(ngModel)]="selectedState" (ngModelChange)="populateCities()">
                <ion-select-option *ngFor="let details of stateList" value="details" >
                  {{details.name}}
               </ion-select-option>
             </ion-select>
           </ion-item>
      </ion-col>    
    </ion-row>

    

   



  <ion-row>
    <ion-col><ion-input formControlName="address1" [(ngModel)]="address.address1"    type="text"  placeholder="Name"></ion-input> </ion-col>    
  </ion-row>
  <ion-row>
    <ion-col><ion-input formControlName="address2" [(ngModel)]="address.address2"    type="text"  placeholder="Name"></ion-input> </ion-col>    
  </ion-row>
  <ion-row>
    <ion-col><ion-input formControlName="street" [(ngModel)]="address.street"    type="text"  placeholder="Name"></ion-input> </ion-col>    
  </ion-row>
  <ion-row>
    <ion-col><ion-input formControlName="pincode" [(ngModel)]="address.pincode"    type="text"  placeholder="Name"></ion-input> </ion-col>    
  </ion-row>
  <ion-row>
    <ion-col><ion-input formControlName="city" [(ngModel)]="address.city"    type="text"  placeholder="Name"></ion-input> </ion-col>    
  </ion-row>
 
  <ion-row>
    <ion-col><ion-input formControlName="state" [(ngModel)]="address.state"    type="text"  placeholder="Name"></ion-input> </ion-col>    
  </ion-row>
    <ion-button  expand="block" type="submit"  [disabled]="!addressForm.valid">Submit</ion-button> 
    <ion-button  expand="block">Cancel</ion-button>
  
  </form> 
</ion-content>

