.green-card{
    background-color: rgb(212, 238, 212);
    font-weight: bold;
    color: black;
    font-size: large;
    text-align:center;
    height: 80px;
    
}

.red-card{
    background-color: rgb(245, 106, 106);
    font-weight: bold;
    color: black;
    font-size: large;
    text-align:center;
    height: 80px;
}
