<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainmenu"> 

      </ion-menu-button>
    </ion-buttons> 
   
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding : min-height:100%">
   
    <ion-card style="min-height: 100%;">
      <ion-card-header>
        Inventory 
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <ion-card> 
      <div [ngClass]="{'red-card' : todayProfit<0,'green-card' : todayProfit>=0  }">
      <div >
        Today's Profit
      </div>
      <div  >
        {{todayProfit | number : '1.2'}}
      </div>
    </div>
    </ion-card>
    <ion-card >
      <div [ngClass]="{'red-card' : todayProfit<0,'green-card' : todayProfit>=0  }">
      <div >
        Monthly Profit
      </div>
      <div>
        {{monthProfit | number : '1.2'}}
      </div>
    </div>
    </ion-card>

    <!-- <ion-card>
      <ion-card-header>
        Revenue Vs GP
        <div style="float: right;">
          <ion-label ion-button color="secondary"  (click)="download()">
Export
          </ion-label>
        </div>
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>

      <ion-card-footer>
        <ion-row>
          <ion-item>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="startDate" placeholder="Start Date"></ion-datetime>
          </ion-item>
       
          <ion-item>
            <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="endDate" placeholder="End Date"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label ion-button color="secondary">Apply</ion-label>
          </ion-item>
        </ion-row>
      </ion-card-footer>
    </ion-card> -->
  </div>
</ion-content>
