.green-card{
    background-color: lightgreen;
    font-weight: bold;
    color: black;
    font-size: large;
    text-align:center;
    height: 80px;
    
}

.red-card{
    background-color: red;
    font-weight: bold;
    color: black;
    font-size: large;
    text-align:center;
    height: 80px;
}