<ion-header>
  <ion-toolbar>
    <ion-title>Customer</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainmenu"> 

        </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor= "let cus of customers">
      <ion-label>{{cus.name}}</ion-label>
      <ion-button color="secondary" (click)="editCustomer(cus.name)">Edit</ion-button>
      <ion-button (click)="presentDeleteAlertConfirm(cus)">
        <ion-icon name="trash-bin"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>    
  
</ion-content>
<ion-footer>
  
    
      <ion-row style="float:right">
        <ion-col >
        <ion-button  color="primary" (click)="addNewClient()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-col>
      </ion-row>
        
    
  
  
</ion-footer>