<ion-header>
  <ion-toolbar>
    <ion-title>Purchase</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainmenu"> 

        </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor= "let pur of purchaseList" (click)="editPurchase(pur.id)">
      <ion-label>{{pur.poNumber}}</ion-label>
      <ion-label>{{pur.purchaseDate|date}}</ion-label>
    </ion-item>
  </ion-list>    
  
</ion-content>
<ion-footer>
  
    
      <ion-row style="float:right">
        <ion-col >
        <ion-button  color="primary" (click)="addNewPurchase()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-col>
      </ion-row>
        
    
  
  
</ion-footer>