<ion-header>
  <ion-toolbar>
    <ion-title>Expense</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="mainmenu"> 

        </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-list-header>
      <ion-col size="4">Date</ion-col>
      <ion-col size="4" style="text-align: center;">Category</ion-col>
      <ion-col style="text-align: right;padding-right: 5%;" size="4">Amount</ion-col>
    </ion-list-header>
    <ion-item *ngFor= "let exp of expenseList" (click)="editExpense(exp.id)">
      
        
        
          <ion-col size="4">{{exp.date | date : short}}</ion-col>
          <ion-col size="4" style="text-align: center;">{{exp.category}}</ion-col>
          <ion-col style="text-align: right;" size="4">{{exp.amount}}</ion-col>
       
     
    </ion-item>
  </ion-list>    

</ion-content>
<ion-footer>
  
    
  <ion-row style="float:right">
    <ion-col >
    <ion-button  color="primary" (click)="addNewExpense()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </ion-col>
  </ion-row>
    
 


</ion-footer>