<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" (click)="closeModal()" color="medium">
        <ion-icon slot="start" name="close"></ion-icon> Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<div class="overflow">
  <div id="imageToPrint">  
    <div> 
      <div class="text-center" >
          <h3 class="content-center"> {{profile?.companyName}}</h3>
      </div>
      <div class="text-center" >
        <h3 class="content-center letter-space"> {{profile?.companyNameInArabic}}</h3>
    </div>
    
    <div  class="text-center letter-space content-center">
      {{profile?.addressLine1}} {{profile?.addressLine1inArabic}}   
    </div>
    <div  class=" text-center letter-space content-center">
      {{profile?.addressLine2}} {{profile?.addressLine2InArabic}}   
  </div>
  <div class="full-width">
      <div text-left class="item-cus-label letter-space">
        VAT # / ضريبة القيمة المضافة  :
      </div>
      <div  text-left class="item-cus-label">
        {{profile?.vatNumber}}  
      </div>
      
  </div>
  <div class="line-separator"></div>
  
  <div  class="text-center">
   <h5 class="font-14">VAT INVOICE / فاتوره ضريبية </h5>
  </div>
  <div class="full-width">
    <div class="item-cus-label">
    Invoice # / رقم الفاتورة :
    </div>
    <div text-left class="item-cus-label">
      {{invoice?.invoiceNumber}}
    </div>
  </div>
  <div class="full-width">
    <div class="item-cus-label">
    Invoice Date / تاريخ   :</div>
    <div text-left class="item-cus-label">{{invoice?.invoiceDate | date : 'dd-MM-yyyy hh:mm'}} </div>
  </div>
  <div class="line-separator"></div>
  
  <div class="display-flex  full-width">
    <div class="item-lebel no-wrap-text" style="margin-left: 3%;">
      <b>Bill To : </b>
    </div>
  </div>
  <div class="full-width">
    <div  class=" full-width" style="margin-left: 3%; word-wrap: break-word;" >
      {{invoice?.customer.name}} 
    </div>
    <div  class=" full-width letter-space" style="margin-left: 3%; word-wrap: break-word;" >
      {{invoice?.customer.nameInArabic}} 
    </div>
    
  </div>
  <div class="full-width">
    <div  class=" full-width" style="margin-left: 3%; word-wrap: break-word;" >
      {{invoice?.customer.street}},{{invoice?.customer.city}} 
    </div>
    <div  class=" full-width letter-space" style="margin-left: 3%; word-wrap: break-word;" >
      {{invoice?.customer.streetInArabic}},{{invoice?.customer.cityInArabic }} 
    </div>
    
  </div>
  <div class="full-width">
    <div  class="item-cus-label letter-space" >
       VAT # / ضريبة القيمة المضافة : 
    </div>
    <div  text-right class="item-value ">
      {{invoice?.customer.vatNumber}}
    </div>
    
  </div>
  <div class="line-separator"></div>
  <table style="width:100%" class="fixed">
          <thead>
            <tr>
  
              <th style="text-align: left; width: 37%; margin-left: 2%;">
                <div style="margin-left: 3%;">Item</div>
                <div class="letter-space" style="margin-left: 3%;">العنصر</div>
              </th>
              <th style="width:4%">
                <div>Qty</div>
                <div class="letter-space">الكمية</div>
              </th>
              <th style="width:7%">
                <div>Price</div>
                <div class="letter-space">السعر</div>
              </th>
              <th style="width:35% ;margin-right: 2%;">
                <div style="margin-right: 2%;">Amount</div>
                <div class="letter-space">المبلغ</div>
              </th>
               
              
            </tr>
          </thead>
          <tr *ngFor="let order of orderItems">
            <td style="text-align: left;margin-left: 3%;">
              <div style="margin-left: 3%; " class="letter-space">
                {{order.name}} {{order.nameInArabic}}
              </div>
            </td>
            <td>{{order.quantity}}</td>
            <td>{{order.unitPrice }}</td>
            <td >
              <div style="margin-right: 3%;">
                {{(order.unitPrice * order.quantity) | number : '1.2-2'}}
              </div>
              
            </td>
  
            
           
          </tr>
        </table>
        <div class="line-separator"></div>
        <div class="display-flex full-width">
          <div  class="item-label content-right">
            Qty : {{totalQuantity}}
          </div>
        </div>
        <div class="display-flex full-width">
          <div  class="content-right item-label" style="width: 100%;">
            Total Invoice Value(Excl. VAT) : {{(invoice?.total-invoice?.tax) | number : '1.2-2'}}
          </div>
        </div>
        <div class="display-flex full-width">
          <div  class="item-label content-right" style="width: 100%;">
            VAT Payable in SAR ({{profile?.vat}}%): {{invoice?.tax | number : '1.2-2'}}
          </div>
          
        </div>
        <div class="display-flex full-width">
          <div  class="item-label content-right" style="width: 100%;">
            Gross Amount in SAR : {{invoice?.total | number : '1.2-2'}}
          </div>
        </div>
        <div class="line-separator"></div>
        <div class="display-flex full-width">
          <div  class="item-label content-right" style="width: 100%;">
          Previous Balance : {{(this.invoice.balanceAmount+this.invoice.amountPaid) | number : '1.2-2' }}
          </div>
        </div>
        <div class="display-flex full-width">
          <div  class="item-label content-right" style="width: 100%;">
          Paid Amount : {{this.invoice.amountPaid | number : '1.2-2' }}
          </div>
        </div>
        <div class="display-flex full-width">
          <div  class="item-label title-content-left" style="width: 100%;">
          Balance Amount : {{this.invoice.balanceAmount | number : '1.2-2' }}
          </div>
        </div>
        <div class="line-separator"></div>
        <div class="display-flex full-width " >
        <div style="margin-left: 10%;">
          <ngx-qrcode  
  [elementType]="elementType"
  [errorCorrectionLevel]="correctionLevel"
  [value]="value"
  
  ></ngx-qrcode>
  </div>
  </div>
    </div>
  </div>
</div>
